streamlit
mistralai==0.1.8
scrapy
langchain
langchain_chroma
langchain_community
langchain_huggingface
chromadb==1.0.9
apscheduler
python-dotenv
spacy==3.7.2
rank_bm25
jq
sentence-transformers
matplotlib
seaborn
nltk==3.8.1
scikit-learn>=1.0.2
